<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    <title>PES.net</title>

    <script type="text/javascript" src="/static/custom/js/coreConfig.js"></script>
    <script type="text/javascript" src="/static/library/ng/angular.js"></script>

    <link rel="stylesheet" href="/static/library/pure/pure-release-0.6.0/pure.css">


    <!--[if lte IE 8]>
    <link rel="stylesheet" href="static/library/pure/pure-layout-side-menu/css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="static/library/pure/pure-layout-side-menu/css/layouts/side-menu.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="static/custom/css/presentation.css">


    <style>
        .pureMenuSelected {
            background: #333;
        }

        .fbLoginLogo {
            height: 16px;
            opacity: 0.7;
            vertical-align: top;
            padding-left: 4px;
        }

        .loadScreen {
            height: 100%;
            width: 100%;
            background-image: url('/static/img/239.gif');
            background-repeat: no-repeat;
            background-position: center;
            background-color: #ffffff;
            z-index: 10000;
            position: absolute;
            top: 0px;
            left: 0px;

        }
    </style>

</head>
<body data-ng-app="coreApp">
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: fbAppID,
            xfbml: true,
            version: 'v2.5'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<section data-ng-controller="navCtrl">
    <section>
        <div class='loadScreen' data-ng-hide="loading.isComplete"></div>
    </section>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">

            <div class="pure-menu">

                <a class="pure-menu-heading " href="#/">pes.net</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="#/" class="pure-menu-link"
                           data-ng-class="{pureMenuSelected:urlPath.navPath==''}">Home</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="#/about" class="pure-menu-link"
                           data-ng-class="{pureMenuSelected:urlPath.navPath=='about'}"> About</a>
                    </li>

                    <li class="hidden pure-menu-item">
                        <a href="/here" class="pure-menu-link"> Here</a>
                    </li>

                    <li title="Requires popup window" data-ng-hide="nav.userNav" class="pure-menu-item" ng-click="login_fb()">
                        <a class="pure-menu-link ">
                            Login <img class="fbLoginLogo" src="/static/img/fbLogoWhite.png">
                        </a>
                    </li>
                    <li class="pure-menu-item " data-ng-if="nav.userNav">
                        <a href="/x/" class="pure-menu-link">{{navItems.projects}}</a>

                    </li>


                    <li data-ng-if="u[0].fields.is_staff" class="pure-menu-item">
                        <a href="/x/admin/" class="pure-menu-link">{{navItems.admin}}</a>
                    </li>
                    <li data-ng-if="nav.userNav" class="pure-menu-item">
                        <a href="/logout" class="pure-menu-link">{{navItems.logout}}</a>
                    </li>

                    <!--<li data-ng-if=" nav.userNav" class="pure-menu-item">
                        <a href="/x/admin/auth/user/{{u[0].pk}}/" class="pure-menu-link">{{nav.userNav}}</a></li>-->

                </ul>


            </div>

        </div>

        <div id="main" data-ng-view="">

        </div>
        <footer class="content">
            <div
                    class="fb-like"
                    data-share="true"
                    data-width="320"
                    data-show-faces="false">

            </div>
        </footer>
    </div>
</section>


<script type="text/javascript" src="/static/library/ng/angular-cookies.js"></script>
<script type="text/javascript" src="/static/library/ng/angular-resource.js"></script>
<script type="text/javascript" src="/static/library/ng/angular-route.js"></script>
<script type="text/javascript" src="/static/library/ngStorage.js"></script>
<script type="text/javascript" src="/static/library/lodash.js"></script>
<script type="text/javascript" src="/static/library/underscore-min.js"></script>
<script type="text/javascript" src="/static/library/ng/restangular.js"></script>
<script type="text/javascript" src="static/custom/js/coreApp.js"></script>


<script src="static/library/pure/pure-layout-side-menu/js/ui.js"></script>


</body>
</html>
