<style>
    .createrMap {
        height: 300px;
        width: 100%;
        display: block;

    }

    .addressSearch {
    }

    .custom-marker {
        font-size: 2em;
        padding: 10px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
        text-align: center;
    }

    .custom-marker:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #fff transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        left: 50%;
    }

    .custom-marker:before {
        content: '';
        position: absolute;+
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #7F7F7F transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -6px;
        bottom: -7px;
        left: 50%;
    }

    .selected {
        background: yellow;
    }

    div[ng-controller] {
        position: relative;
    }

    #panel {
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        display: none;
    }
</style>

<div class="pure-g">
    <div class="pure-u-1-12 "></div>
    <div class="pure-u-5-6 ">
        <div ng-controller="MyCtrl as vm">


            <div id="panel">
                <!--<input ng-click="vm.hideMarkers()" type=button value="Hide Markers">-->
                <!--<input ng-click="vm.showMarkers()" type=button value="Show All Markers">-->

            </div>
            <ng-map class="createrMap" center="{{address}}" zoom="16" on-click="vm.addMarker()">
                <marker ng-repeat="pos in vm.positions" position="{{pos}}"></marker>
            </ng-map>
             <input ng-model="address" /><input ng-click="vm.findMe()" class="pure-button" type=button value="Use Current Location">
        </div>
    </div>
    <div class="pure-u-1-12"></div>
</div>