<style>

    .poweredBy-new {

    }

    .poweredBy-new img {
        margin: 6px;
        height: 64px;
        width: 64px;
        cursor: pointer;
    }

    @media screen and (min-width: 35.5em) {
        .poweredBy-new-spacer {
            display: none;
        }
    }

</style>
<div class="header">
    <h1>About</h1>

    <h2>{{messages.about}}</h2>
</div>

<div class="content">

    <section>
        <section class="POWERED-BY">
            <h2 class="content-subhead" data-ng-click='power.toShow=false'>Powered By:</h2>

            <div class="pure-g">
                <div class="pure-u-1-1  poweredBy-new">


                    <img data-ng-click='power.toShow="apache"' src="/static/img/poweredBy/apache-icon.png">
                    <img data-ng-click='power.toShow="django"' src="/static/img/poweredBy/django-icon.png">

                    <div class="poweredBy-new-spacer">


                    </div>
                    <img data-ng-click='power.toShow="mysql"' src="/static/img/poweredBy/mysql_icon.png">
                    <img data-ng-click='power.toShow="angular"' src="/static/img/poweredBy/angular-logo.png">

                    <div class="poweredBy-new-spacer">


                    </div>
                    <img data-ng-click='power.toShow="pure"' src="/static/img/poweredBy/pure-layout-icon.jpg">

                    <img data-ng-click='power.toShow="arduino"' src="/static/img/poweredBy/Arduino.png">

                </div>

                <!--<div class="pure-u-1-4 poweredBy-new">
                    <img data-ng-click='power.toShow="osx"' src="/static/img/poweredBy/MACOSX_ICON.png">
                    <img data-ng-click='power.toShow="python"' src="/static/img/poweredBy/python_icon.gif">

                    <img data-ng-click='power.toShow="wsgi"' src="/static/img/poweredBy/wsgi2.png">

                    <img data-ng-click='power.toShow="mysqldb"' src="/static/img/poweredBy/mysqlworkbench-icon.png">


                </div>
                <div class="clear"></div>

                <div class="pure-u-1-4 poweredBy-new">


                    <img data-ng-click='power.toShow="github"' src="/static/img/poweredBy/blacktocat.png">

                    <img data-ng-click='power.toShow="pycharm"' src="/static/img/poweredBy/Intellij-PyCharm.png">

                </div>-->

                <div class="pure-u-1-4 poweredBy-new">


                </div>
            </div>
        </section>


        <div data-ng-if="power.toShow=='osx'">
            <h2 class="content-subhead">OS X</h2>

            <p>
                We've cobbled together a few old MacBooks and even a tank of a G4 to make sNet. There will likely be a
                drive
                failure any day now.
            </p>
        </div>
        <div data-ng-if="power.toShow=='apache'">
            <h2 class="content-subhead">Apache2</h2>

            <p>
                The web server runs <a href="http://www.apache.org/" target="_blank"><strong>Apache 2</strong></a>. It
                conveniently ships with OSX.
                <br>
                Also, please accept my self-signed security certificate!
            </p>
        </div>
        <div data-ng-if=" power.toShow=='wsgi'">

            <h2 class="content-subhead">mod_wsgi</h2>

            <p>
                Thank God for the webserver gateway interface!
            </p>
        </div>
        <div data-ng-if="power.toShow=='python'">
            <h2 class="content-subhead">Python</h2>

            <p>
                Everyone should know python. We use it to make our API.
            </p>
        </div>
        <div data-ng-if="power.toShow=='mysqldb'">
            <h2 class="content-subhead">MySQL-Python</h2>

            <p>
                We can't take any credit here. pip install did all the work for the database tools.
            </p>
        </div>
        <div data-ng-if="power.toShow=='mysql'">
            <h2 class="content-subhead">MySQL</h2>

            <p>
                <strong><a href="https://www.mysql.com/" target="_blank">MySQL</a></strong> is ubiquitous and well
                documented.
            </p>
        </div>
        <div data-ng-if="power.toShow=='django'">
            <h2 class="content-subhead">Django</h2>

            <p>
                <strong><a href="https://www.djangoproject.com/" target="_blank">Django</a> <a
                        href="http://www.django-rest-framework.org/" target="_blank">REST Framework</a></strong> makes
                up
                the API.
            </p>
        </div>
        <div data-ng-if="power.toShow=='github'">
            <h2 class="content-subhead">GitHub</h2>

            <p>
                Eventually, we'll add a link to our repository here.
            </p>
        </div>
        <div data-ng-if="power.toShow=='pycharm'">
            <h2 class="content-subhead">Pycharm</h2>

            <p>
                Syntax errors be gone!
            </p>
        </div>
        <div data-ng-if="power.toShow=='angular'">
            <h2 class="content-subhead">AngularJS</h2>

            <p>
                Single page application functions are built on <strong><a href="https://angularjs.org/" target="_blank">Angular
                JS</a></strong>.
            </p>
        </div>
        <div data-ng-if="power.toShow=='pure'">
            <h2 class="content-subhead">Pure CSS</h2>

            <p>
                Menu and content responsiveness comes from <strong><a href="http://purecss.io/"
                                                                      target="_blank">pure.css</a></strong>.
            </p>
        </div>

        <div data-ng-if="power.toShow=='arduino'">
            <h2 class="content-subhead">Arduino</h2>

            <p>
                Occasionally, some ports on this server connect to <em>IRL</em> <strong><a
                    href="https://www.arduino.cc/" target="_blank">Arduino</a></strong> machines.
            </p>
        </div>
    </section>


    <div class="pure-g">
        <div class="pure-u-1-1">
            <h2 class="content-subhead">Try Resizing your Browser</h2>
            <img class="pure-img-responsive" src="/static/img/heavanAtHaven.png" alt="firefly">


        </div>
        <div class="pure-u-1-1">
            <h2 class="content-subhead">Async User Test </h2>

            <p>
                <button class="pure-button" data-ng-click="tryToGetUserData()">Get User</button>
                {{currentUser2.u}}
            </p>
        </div>
        <div class="pure-u-1-1">
            <h2 class="content-subhead">{{messages.aboutSubOne}}</h2>

            <p>
                {{messages.two}}
            </p>

        </div>

    </div>


</div>



