<style>

    .poweredBy-new {
        text-align: center;
        min-width: 238px;
        margin: 0 auto;
    }

    .poweredBy-new img {
        margin: 6px;
        height: 64px;
        width: 64px;
        cursor: pointer;
    }</style>
<div class="header">
    <h1>Full Stack</h1>

    <h2>{{messages.home}}</h2>
</div>

<div class="content">
    <div><h2 class="content-subhead">It puts the Latin in the div</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </p></div>
    <section class="POWERED-BY" style="text-align: center;">
        <h2 class="content-subhead" data-ng-click='power.toShow=false'>Powered By:</h2>



        <section>
            <div class="pure-u-1-4 poweredBy-new">
                <img data-ng-click='power.toShow="osx"' src="/static/img/poweredBy/MACOSX_ICON.png">

                <img data-ng-click='power.toShow="apache"' src="/static/img/poweredBy/apache-icon.png">

                <img data-ng-click='power.toShow="wsgi"' src="/static/img/poweredBy/wsgi2.png">


            </div>
            <div class="pure-u-1-4 poweredBy-new">

                <img data-ng-click='power.toShow="python"' src="/static/img/poweredBy/python_icon.gif">

                <img data-ng-click='power.toShow="mysqldb"' src="/static/img/poweredBy/mysqlworkbench-icon.png">

                <img data-ng-click='power.toShow="mysql"' src="/static/img/poweredBy/mysql_icon.png">


            </div>
            <div class="clear"></div>

            <div class="pure-u-1-4 poweredBy-new">
                <img data-ng-click='power.toShow="django"' src="/static/img/poweredBy/django-icon.png">

                <img data-ng-click='power.toShow="github"' src="/static/img/poweredBy/blacktocat.png">

                <img data-ng-click='power.toShow="pycharm"' src="/static/img/poweredBy/Intellij-PyCharm.png">

            </div>

            <div class="pure-u-1-4 poweredBy-new">

                <img data-ng-click='power.toShow="angular"' src="/static/img/poweredBy/angular-logo.png">

                <img data-ng-click='power.toShow="pure"' src="/static/img/poweredBy/pure-layout-icon.jpg">

                <img data-ng-click='power.toShow="arduino"' src="/static/img/poweredBy/Arduino.png">
            </div>
        </section>
    </section>




    <div data-ng-hide="power.toShow"><h2 class="content-subhead">My Stack</h2>

        <p>
            The internet of things is fun.
        </p></div>
    <div data-ng-if="power.toShow=='osx'">
        <h2 class="content-subhead">OS X</h2>

        <p>
            We've cobbled together a few old MacBooks and even a tank of a G4 to make sNet. There will likely be a drive
            failure any day now.
        </p>
    </div>
    <div data-ng-if="power.toShow=='apache'">
        <h2 class="content-subhead">Apache2</h2>

        <p>
            We use Apache 2 as our webserver. It comes preinstalled on the Mac OS, which is super convenient.
        </p>
    </div>
    <div data-ng-if="power.toShow=='wsgi'">
        <h2 class="content-subhead">mod_wsgi</h2>

        <p>
            Thank God for the webserver gateway interface!
        </p>
    </div>
    <div data-ng-if="power.toShow=='python'">
        <h2 class="content-subhead">Python</h2>

        <p>
            Everyone should know python. We use it to make our API.
        </p>
    </div>
    <div data-ng-if="power.toShow=='mysqldb'">
        <h2 class="content-subhead">MySQL-Python</h2>

        <p>
            We can't take any credit here. pip install did all the work for the database tools.
        </p>
    </div>
    <div data-ng-if="power.toShow=='mysql'">
        <h2 class="content-subhead">MySQL</h2>

        <p>
            MySQL is ubiquitous and well documented.
        </p>
    </div>
    <div data-ng-if="power.toShow=='django'">
        <h2 class="content-subhead">Django</h2>

        <p>
            Restful Django is powerful stuff.
        </p>
    </div>
    <div data-ng-if="power.toShow=='github'">
        <h2 class="content-subhead">GitHub</h2>

        <p>
            Eventually, we'll add a link to our repository here.
        </p>
    </div>
    <div data-ng-if="power.toShow=='pycharm'">
        <h2 class="content-subhead">Pycharm</h2>

        <p>
            Syntax errors be gone!
        </p>
    </div>
    <div data-ng-if="power.toShow=='angular'">
        <h2 class="content-subhead">AngularJS</h2>

        <p>
            Learn it. Live it. Love it.
        </p>
    </div>
    <div data-ng-if="power.toShow=='pure'">
        <h2 class="content-subhead">Pure</h2>

        <p>
            Dapper
        </p>
    </div>

    <div data-ng-if="power.toShow=='arduino'">
        <h2 class="content-subhead">Arduino</h2>

        <p>
            Making our internet of things.
        </p>
    </div>
</div>
