<ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="#/" class="pure-menu-link" data-ng-class="{pureMenuSelected:urlPath.navPath==''}">Home</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#/about" class="pure-menu-link"
                       data-ng-class="{pureMenuSelected:urlPath.navPath=='about'}"> About</a>
                </li>


                <li data-ng-hide="nav.userNav" class="pure-menu-item" ng-click="login_fb()">
                    <a class="pure-menu-link ">
                        Login <img class="fbLoginLogo" src="/static/img/fbLogoWhite.png">
                    </a>
                </li>
                <li class="pure-menu-item "  data-ng-if="nav.userNav">
                    <a  href="/x/" class="pure-menu-link">{{navItems.projects}}</a>

                </li>


                <li  data-ng-if="u[0].fields.is_staff" class="pure-menu-item">
                    <a href="/x/admin/" class="pure-menu-link">{{navItems.admin}}</a>
                </li>
                <li  data-ng-if="nav.userNav" class="pure-menu-item">
                    <a href="/logout" class="pure-menu-link">{{navItems.logout}}</a>
                </li>

                <!--<li data-ng-if=" nav.userNav" class="pure-menu-item">
                    <a href="/x/admin/auth/user/{{u[0].pk}}/" class="pure-menu-link">{{nav.userNav}}</a></li>-->

            </ul>