<!DOCTYPE html>
<html>
<head>

    <title>metaData</title>

</head>
<body>
<style>


    table {
        border-collapse: collapse;

    }

    table, td, th {

    }

    th, td {
        border-bottom: 1px solid #ddd;
        padding: 0.25em;
        font-size: 12px;
        color: #999;
        font-family: sans-serif;
    }

    .temp1 {
        color: #000;
    }

</style>

<table style="" cell>
    {% if u %}
    <tr>
        <td class="temp1">user ID</td>
        <td class="">{{u.id}}</td>
    </tr>
    <tr>
        <td class="temp1 ">First Name</td>
        <td class=" ">{{u.first_name}}</td>
    </tr>
    {%endif%}{%if metaData%}
    {% for itemName, itemDetail in metaData %}
    <tr>
        <td class="temp1">{{itemName}}</td>
        <td class="">{{itemDetail}}</td>
    </tr>
    {%endfor%}{%endif%}
</table>
</body>
</html>